button.optionsButton {
    height: 80px;
    width: 80px;
    margin: 3px 0;
}

.box {
    height: fit-content;
    width: 300px;
    max-width: 100%;
    margin: 2px;
    border-color: rgba(0, 0, 0, 0.5);
    border-radius: 5px;
    border-width: 3px;
    border-style: solid;
    padding: 5px;
    background-color: rgba(0, 0, 0, 0.5);
}

.help {
    background-color: black;
    border-radius: 50%;
    width: 20px;
    height: 20px;
    font-size: 20px;
    border-color: var(--buttonbackgroundcolor);
    border-width: 2px;
    border-style: solid;
}

.help:hover {
    background-color: rgba(0, 0, 0, 0.2);
    transform: scale(1.1, 1.1);
    border-color: var(--buttonbackgroundcolorhover);
}

button.DangerousButton:hover:not(.sampleclass) {
    background-color: hsl(0, 100%, 50%);
    box-shadow: 0 0 10px hsl(0 100% 20%);
}

div.optionsList {
    margin: 10px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;

}

/* I know that this part is scuffed with its variables but whatever */

button.optionsBarSegment:not(.bought) {
    width: 80px;
    margin: 0 -3px;
    height: 50px;
    background-color: transparent;
    border-radius: 7px;
    border-width: 0;
    position: absolute;
}

button.optionsBarSegment:not(.bought):hover {
    background-color: hsl(var(--themecolor), 85%, 35%);
}

.optionsBarName {
    margin: 0px;
    width: fit-content;
    position: absolute;
    top: -27.55px;
    left: -3px;
    pointer-events: none;
    border-radius: 10px 10px 0 0;
    background-color: var(--buttonbackgroundcolor);
    padding: 3px;
    border-width: 3px 3px 0 3px;
    border-color: rgba(255, 255, 255, 0.2);
    border-style: solid;
    z-index: -1;
}

.optionsBar {
    background-color: var(--buttonbackgroundcolor);
    border-radius: 0 10px 10px 10px;
    border-color: rgba(255, 255, 255, 0.2);
    border-width: 3px;
    border-style: solid;
    position: relative;
    text-align: center;
}

.optionsBar:hover {
    border-color: rgba(255, 255, 255, 0.4);
    background-color: hsl(var(--themecolor), 90%, 30%);
}

.optionsBarSelection {
    position: absolute;
    background-color: rgba(255, 255, 255, 0.2);
    width: 80px;
    height: 50px;
    z-index: 5;
    border-radius: 7px;
    top: 0px;
    left: var(--leftPos);
    --leftPos: 0px;
    pointer-events: none;
    transition: all 0.5s
}