#popup {
    position: fixed;
    z-index: 123456789;
    top: calc(calc(100% - var(--height)) / 2 + 30px);
    left: 25px;
    text-align: center;
    width: calc(100% - 50px);
    height: fit-content;
    --height: 0px;
    max-height: calc(100% - 100px);
    background-color: var(--backgroundcolor);
    box-shadow: 0 0 10px black;
    border-radius: 10px;
    transition: none;
    opacity: 0%;
    pointer-events: none;
    line-break: loose;
    overflow: auto;
    padding: 8px;
}

#popup.activated:not(.sampleclass):not(.sampleclass) {
    opacity: 100%;
    top: calc(calc(100% - var(--height)) / 2);
    pointer-events: all;
}

textarea {
    background-color: hsl(var(--themecolor), 80%, 20%);
    transition: none;
    border-radius: 10px;
    border-color: hsl(var(--themecolor), 70%, 30%);
    border-width: 3px;
    resize: none;
}

.coolepictextbox {
    width: calc(100% - 20px);
    height: 100px;
    margin: 0 3px;
}

.inPopup > :not(.activated) {
    pointer-events: none;
}

button.strangeBugfix { /* Not actually a bugfix, not anymore */
    margin: 3px calc(100vw / 10);
}

div#loadingScreen {
    z-index: calc(infinity);
    height: 100vh;
    width: 100vw;
    pointer-events: all;
    background-color: #000;
    background-image: url(../resources/loadingScreen.svg);
    background-position: center;
    position: fixed;
    top: 0;
    left: 0;
    background-repeat: no-repeat;
    background-size: contain;
}