* {
    font-size: 100%;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif, monospace;

    background: rgb(6, 0, 24);

    color: antiquewhite;
}

.button {
    background-color: rgb(23, 38, 96);
    border: 2px solid rgb(255, 232, 211);
    color: antiquewhite;
    padding: 4px 11px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 6px;
}

.button:hover {
    background-color: rgb(45, 62, 131);
}