.canBuyTheta.box {
    background-color: hsl(calc(var(--themecolor)), 100%, 10%);
}

.canBuyTheta.box button.thetaUPGbuy {
    background-color: hsl(calc(var(--themecolor)), 100%, 20%);
}

.canBuyTheta.box button.thetaUPGbuy:hover {
    background-color: hsl(calc(var(--themecolor)), 70%, 50%);
}